VITE_DEFAULT_ACCOUNTS='[ { "address": "0x1b92e4cba0f82c85c1298af861247849988c788c", "name": "vincenttaglia-indexer.eth", "active": true, "chain": "arbitrum-one", "agentConnect": false, "agentEndpoint": "", "poiQuery": false, "poiQueryEndpoint": "" } ]'
VITE_DEFAULT_RPC_MAINNET="https://mainnet.infura.io/v3/659344f230804542a4e653f875172105"
VITE_DEFAULT_RPC_ARBITRUM="https://arb-mainnet.g.alchemy.com/v2/er8LBcXpoFwlV8xJee-WXFbFG_M8L4JK"
VITE_DEFAULT_RPC_SEPOLIA="https://eth-sepolia.g.alchemy.com/v2/eKJ8_13LMaVi2bSITYWTMqskgsGiey8K"
VITE_DEFAULT_RPC_ARBITRUM_SEPOLIA="https://arbitrum-sepolia.infura.io/v3/db92de7c459f4d83a2c2c21931a6bdf0"
VITE_DEFAULT_SUBGRAPH_MAINNET="https://gateway.thegraph.com/api/[api-key]/subgraphs/id/9Co7EQe5PgW3ugCUJrJgRv4u9zdEuDJf8NvMWftNsBH8"
VITE_DEFAULT_SUBGRAPH_ARBITRUM="https://gateway.thegraph.com/api/[api-key]/subgraphs/id/DZz4kDTdmzWLWsV373w2bSmoar3umKKH9y82SUKr5qmp"
VITE_DEFAULT_SUBGRAPH_SEPOLIA="https://gateway.thegraph.com/api/[api-key]/subgraphs/id/8pVKDwHniAz87CHEQsiz2wgFXGZXrbMDkrxgauVVfMJC"
VITE_DEFAULT_SUBGRAPH_ARBITRUM_SEPOLIA="https://gateway.thegraph.com/api/[api-key]/subgraphs/id/3xQHhMudr1oh69ut36G2mbzpYmYxwqCeU6wwqyCDCnqV"
VITE_DEFAULT_QOS_SUBGRAPH="https://gateway.thegraph.com/api/[api-key]/subgraphs/id/Dtr9rETvwokot4BSXaD5tECanXfqfJKcvHuaaEgPDD2D"
VITE_GRAPH_API_KEY="3bab348a7c385b1870039eb890fd0a5f"